.checkOne {
    text-align: center;
    
}

.footer {
  
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #00b377;
  color: white;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
    color: brown;
}

.foot_text {
    font-weight: bolder;
    color: brown;
    font-family: sans-serif;
}

#navvy {
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}
#one {
  font-size: 120%;
  background: #F8F8FF;
}

.two {
  width: 30%;
  margin: 50px auto 0px;
  color: white;
  background: #5F9EA0;
  text-align: center;
  border: 1px solid #B0C4DE;
  border-bottom: none;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
}
form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}

.get {
    font-weight: bolder;
    color: white;

}

.cc {
    background-color: #00b377;
}

.store_foot {
    background-color: #00b377;
}